.movie-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding: 20px;

  }
  .no-movies-found {
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    padding: 2rem;
  }
  